# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml

# Build outputs
dist
build
.bundle

# Environment files
.env*

# Logs
*.log

# IDE and editor files
.vscode
.idea

# Python cache directories
**/__pycache__/
editor/story-editor-env